%h3 Artworks

- @artworks.each do |artwork|
  %p
    %strong
      #{artwork['title']}
    = artwork['year'] unless artwork['year'] == 0 || artwork['year'].nil?
    %br
    Technique: #{artwork['technique']}
    