Sitio web desarrollado por
%a{:href => "http://fernandobriano.com", :title => "Fernando Briano"}
  Fernando Briano
y
%a{:href => "http://mcdlr.com", :title => "Nicol&aacute;s Barrera"}
  Nicol&aacute;s Barrera
en
%a{:href => "http://cuboxlabs.com", :title => "Cubox"}
  Cubox


%h2 MNAV
Pueden visitar el Museo Nacional de Artes Visuales en Tomás Giribaldi 2283 esq. Julio Herrera y Reissig, Parque Rodó, Montevideo, Uruguay.
%ul
  %li
    %a{:href => "http://www.youtube.com/user/mnavtv", :title => "Canal del MNAV en YouTube"}
      Canal en YouTube
  %li
    %a{:href => "http://www.facebook.com/MNAVmec", :title => "MNAV en Facebook"}
      MNAV en Facebook
  %li
    %a{:href => "https://twitter.com/MuseoMNAV", :title => "MNAV en Twitter"}
      MNAV en Twitter