%h3 #{t.artist.search}
%p
  %form{:action => "/artists", :method => "post"}
    %label{:for => "name"}
      %p
        =t.artist.name
    %input{:type=>"text", :id => "name", :name => "name"}
    %input{:type => "submit", :id => "search_artists", :value => t.artist.search}

%h3 #{t.artwork.search}
%p
  %form{:action => "/artworks/technique", :method => "post"}
    %label{:for => "technique"}
      #{t.artwork.technique}:
    %input{:type=>"text", :id => "technique", :name => "technique"}
    %input{:type => "submit", :id => "search_technique", :value => t.artwork.search}