%section{:id => 'welcome'}
  .hero
    %h1 Arte Uruguaya
    %p En este sitio podrás encontrar artistas uruguayos y las obras que crearon. Simple y al grano!

%section{:id => 'search-landing'}
  .artists.twoCols.separator
    %h2 Artistas

    %section
      %form{:action => "/artistas", :method => "post"}
        %label{:for => "name"}
          Nombre o Apellido:
        %input{:type=>"text", :id => "name", :name => "name"}
        %button{:type => "submit", :id => "search_artists"}
          Buscar artistas

    %section.showcase
      %h3 Artistas Destacados
      %ul
        - @artists.each do |artist|
          %li
            %a{:href => "artista/#{artist['id']}"}
              = artist['name']

  .works.twoCols
    %h2 Obras

    %section
      %form{:action => "/obras/tecnica", :method => "post"}
        %label{:for => "technique"}
          Nombre, Técnica o Soporte:
        %input{:type=>"text", :id => "technique", :name => "technique"}
        %button{:type => "submit", :id => "search_technique"}
          Buscar obras

    %section.showcase.twoCols
      %h3 Técnicas
      %ul
        %li
          %a{:href => '#'}
            Óleo
        %li
          %a{:href => '#'}
            Cera
        %li
          %a{:href => '#'}
            Acuarela
        %li
          %a{:href => '#'}
            Témpera
        %li
          %a{:href => '#'}
            Acrílico
        %li
          %a{:href => '#'}
            Pastel
        %li
          %a{:href => '#'}
            Temple
        %li
          %a{:href => '#'}
            Tinta
        %li
          %a{:href => '#'}
            Fresco
        %li
          %a{:href => '#'}
            Grisalla
        %li
          %a{:href => '#'}
            Puntillismo
        %li
          %a{:href => '#'}
            Dripping
        %li
          %a{:href => '#'}
            Graffiti
        %li
          %a{:href => '#'}
            Técnicas mixtas

    %section.showcase.twoCols
      %h3 Soporte
      %ul
        %li
          %a{:href => '#'}
            Papel
        %li
          %a{:href => '#'}
            Cartón
        %li
          %a{:href => '#'}
            Madera
        %li
          %a{:href => '#'}
            Lienzo 
        %li
          %a{:href => '#'}
            Muros
        %li
          %a{:href => '#'}
            Metal
        %li
          %a{:href => '#'}
            Vidrio
        %li
          %a{:href => '#'}
            Plástico
        %li
          %a{:href => '#'}
            Cuero
