%h3 Buscar Artistas
%p
  %form{:action => "/artists", :method => "post"}
    %label{:for => "name"}
      %p
        Nombre
    %input{:type=>"text", :id => "name", :name => "name"}
    %button{:type => "submit", :id => "search_artists"}
      Buscar artistas

%h3 Buscar Obras
%p
  %form{:action => "/artworks/technique", :method => "post"}
    %label{:for => "technique"}
      T&eacute;cnica:
    %input{:type=>"text", :id => "technique", :name => "technique"}
    %button{:type => "submit", :id => "search_technique"}
      Buscar obras
