!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %link{ :rel=>'stylesheet', :type=> 'text/css', :href=>'/style.css'}
    %title #{t.general.title}
  %body
    .language
      - if r18n.locale.code == "es"
        %a{:href => request.path_info + "?locale=en", :title => "English"}
          %img{:src => "/images/english.jpg"}
      - if r18n.locale.code == "en"
        %a{:href => request.path_info + "?locale=es", :title => "Español"}
          %img{:src => "/images/espanol.jpg"}
    %h1
      %a{:href=>"/", :title=>"Home"}
        = t.general.title

    %div
      =yield

    %small
      = t.general.example
    %a{:href=>"https://github.com/picandocodigo/mnav-opendata-api"}
      MNAV Open Data API