!!! 5
%html
  %head
    %title Arte Uruguaya &#187; Subsection
    %meta{:charset => 'utf-8'}
    %meta{:name => 'author', :content => 'Fernando Briano, DrummerHead'}
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %link{:rel =>'stylesheet', :href =>'/css/stijl.css'}
  %body
    %header{:role => 'banner'}
      .vessel
        %a{:href => "/", :id => 'brand'}
          %img{:src => '/images/arte-uruguaya-logo.png', :alt => 'Arte Uruguaya', :title => 'Arte Uruguaya'}
        %nav
          %ol{:role => 'navigation'}
            %li
              %a{:href => '/about', :rel => 'external'}
                Acerca
            %li
              %a{:href => '/open-data', :rel => 'external'}
                Datos Abiertos
            %li
              %a{:href => 'http://www.mnav.gub.uy/cms.php', :rel => 'external'}
                %abbr{:title => 'Museo Nacional de Artes Visuales'}
                  MNAV
            %li
              %a{:href => '/contact', :rel => 'external'}
                Contacto
          %form
            %input{:type => 'text', :id => 'site-search', :placeholder => 'Buscar Obras o Artistas'}
            %button{:type => 'submit'}
              Buscar

    %div{:role => 'main'}
      .vessel
        =yield

    %footer{:role => 'contentinfo'}
      .vessel
        %ul
          %li
            Arte Uruguaya &#169; 2012
          %li
            Creado por
            %a{:href => 'http://cuboxlabs.com/', :rel => 'external'}
              Cubox Labs
          %li
            Open Source Project,
            %a{:href => "https://github.com/picandocodigo/mnav-opendata-api", :rel => 'external'}
              Fork it on Github
          %li
            &#9829;
