!!! 5
%html
  %head
    %title #{t.general.title}
    %meta{:charset => 'utf-8'}
    %meta{:name => 'author', :content => 'Fernando Briano, DrummerHead'}
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %link{:rel =>'stylesheet', :href =>'/style.css'}
  %body
    %header{:role => 'banner'}
      .vessel
        %h1
          %a{:href => "/", :title => "Home"}
            = t.general.title
        .language
          - if r18n.locale.code == "es"
            %a{:href => request.path_info + "?locale=en", :title => "English"}
              %img{:src => "/images/english.jpg"}
          - if r18n.locale.code == "en"
            %a{:href => request.path_info + "?locale=es", :title => "Español"}
              %img{:src => "/images/espanol.jpg"}

    %div{:role => 'main'}
      .vessel
        =yield

    %footer{:role => 'contentinfo'}
      .vessel
        %p
          = t.general.example
          %a{:href => "https://github.com/picandocodigo/mnav-opendata-api"}
            MNAV Open Data API
