%h1
  Datos Abiertos

%p
  ¿Qué son datos abiertos?
  %a{:href => "http://es.wikipedia.org/wiki/Datos_abiertos"}
    De Wikipedia
%blockquote
  Datos abiertos (open data en inglés) es una filosofía y práctica que persigue que determinados datos estén disponibles de forma libre a todo el mundo, sin restricciones de copyright, patentes u otros mecanismos de control. Tiene una ética similar a otros movimientos y comunidades abiertos como el código abierto (open source en inglés) y el acceso libre (open access en inglés).

%h2
  D.A.T.A.
%p
  %img{ :src => "images/data.jpg", class: "right"}
    Datos Abiertos, Transparencia y Acceso a la Información son las palabras que forman el acrónimo que nos da nombre y que soportan nuestras ideas. Somos antes que nada un grupo de personas que creemos en el cambio a través de herramientas tecnológicas que ayuden a difundir la información y permitir la participación.
    %a{ :href => "http://datauy.org/", :title => "D.A.T.A."}
      Nuestro sitio web
    tiene muchos más detalles sobre nuestra misión, visión y todo aquellos que creemos pero si se entendió la idea, mejor seguir contando sobre lo que estamos haciendo.
%p
  Visita
  %a{ :href => "http://datauy.org/", :title => "D.A.T.A."}
    D.A.T.A.
  para saber más.
