/*   -     -     -              -     -     -   *\
> >  All tha things down there by DrummerHead  < <
\*   -     -     -              -     -     -   */


/* Baseline *\   -     -     -     -     -
\*          */

html {
  font-size: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: Palatino, 'Bookman Old Style', Georgia, serif;
  color: #222;
  background-image: url('/images/app-bg.png');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bookman Old Style', Palatino, Georgia, serif;
}
h1 {
  font-size: 2em;
  line-height: 1.1em;
  font-weight: normal;
}
h2 {
  font-size: 1.5em;
  font-weight: normal;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
input,
button,
select,
textarea {
  font-family: 'Lucida Grande', sans-serif;
}
input,
textarea,
select {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
  background-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  background-color: #ffffff;
  background-color: initial;
  border: initial;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 28px;
  line-height: 28px;
}
select {
  width: 220px;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}
input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
/* /Baseline */


/* Modular constructs *\   -     -     -     -     -
\*                    */

.vessel {
  max-width: 70em;
  margin: 0 auto;
  padding: .6em 2em;
  position: relative;
}
.vessel:before,
.vessel:after {
  content: '';
  display: table;
}
.vessel:after {
  clear: both;
}

.btn,
button {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
button:hover,
button:active,
button.active,
button.disabled,
button[disabled] {
  background-color: #e6e6e6;
}
.btn:hover,
button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn:focus,
button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active,
button.active,
button:active {
  background-color: #e6e6e6;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled],
button.disabled,
button[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.btn-large,
button-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.hero {
  background-color: rgba(255,255,255,.7);
  box-shadow: 0 0 10px rgba(170,170,170,.3);
  border-radius: 10px;
  padding: 1em 2.5em 1.2em;
  text-align: right;
}
.hero h1,
.hero h2 {
  margin:  .25em 0;
  line-height: 1.1;
}
.hero p {
  margin: .25em 0;
}

/* /Modular constructs */


/* Promiscuous elements *\   -     -     -     -     -
\*                      */

[role='banner'] {
}
#brand {
  float: left;
  width: 237px;
  height: 50px;
  padding: 7px;
}
#brand img {
  display: block;
}
[role='banner'] nav {
  margin: 0 0 0 300px;
}
[role='navigation'] {
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  margin: 1.2em 0 0 0;
}
[role='navigation'] li {
  float: left;
  margin: 0 2em 0 0;
}
[role='navigation'] a {
  display: block;
  padding: .4em;
  text-decoration: none;
  color: #444;
}
[role='navigation'] a:hover {
  border-style: dotted none;
  border-width: 1px;
  border-color: #666;
}
[role='banner'] form {
  position: absolute;
  top: 2em;
  right: 2em;
}
#site-search {
  width: 200px;
}
[role='banner'] [type='sumbit'] {
  width: 50px;
}

[role='main'] {
  padding: 0 0 7em 0;
}

[role='contentinfo'] {
  position: absolute;
  width: 100%;
  height: 4em;
  bottom: 0;
}
[role='contentinfo'] ul {
  list-style-type: none;
  padding: 0;
  margin: .7em 0 0 0;
}
[role='contentinfo'] li {
  width: 30%;
  float: left;
}
[role='contentinfo'] li:last-child {
  text-align: right;
  width: 10%;
}

[role='banner'],
[role='contentinfo'] {
  background-color: rgba(170, 170, 170, .1);
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.1) inset;
}

/* Promiscuous elements */

/* Landing *\   -     -     -     -     -
\*          */

#welcome {
}
#welcome h2 {
}
#welcome p {
}
#search-landing {
}
.searchCol {
  float: left;
  width: 50%;
}
#search-landing h3 {
}
#search-landing form {
}
#search-landing label {
  display: block;
}
#search-landing input {
}
#search-landing button {
}

/* Landing */
