/*   -     -     -              -     -     -   *\
> >  All tha things down there by DrummerHead  < <
\*   -     -     -              -     -     -   */


/* Baseline *\   -     -     -     -     -
\*          */

html {
  font-size: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: Palatino, 'Bookman Old Style', Georgia, serif;
  color: #222;
  background-image: url('/images/app-bg.png');
}
/* /Baseline */


/* Modular constructs *\   -     -     -     -     -
\*                    */

.vessel {
  max-width: 70em;
  margin: 0 auto;
  padding: .6em 2em;
  position: relative;
}
.vessel:before,
.vessel:after {
  content: '';
  display: table;
}
.vessel:after {
  clear: both;
}
/* /Modular constructs */


/* Promiscuous elements *\   -     -     -     -     -
\*                      */
[role='banner'] {
}
#brand {
  float: left;
  width: 237px;
  height: 50px;
  padding: 7px;
}
#brand img {
  display: block;
}
[role='banner'] nav {
  margin: 0 0 0 300px;
}
[role='navigation'] {
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  margin: 14px 0 0 0;
}
[role='navigation'] li {
  float: left;
  margin: 0 2em 0 0;
}
[role='navigation'] a {
  text-decoration: none;
  padding: .4em;
}
[role='banner'] form {
}
#site-search {
  width: 200px;
}
[role='banner'] [type='sumbit'] {
  width: 50px;
}

[role='main'] {
  padding: 0 0 4em 0;
}

[role='contentinfo'] {
  position: absolute;
  width: 100%;
  height: 4em;
  bottom: 0;
}
[role='contentinfo'] ul {
}
[role='contentinfo'] li {
}

[role='banner'],
[role='contentinfo'] {
  background-color: rgba(170, 170, 170, .1);
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.1) inset;
}

/* Promiscuous elements */
